*{
  margin: 0;
  padding:o;
  box-sizing: border-box
}

.App{
  min-height: 100vh;
  background-image: linear-gradient(to top, #37ecba 0%, #72afd3 100%);
}

.search-form{
  min-height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-bar{
  width:50%;
  border:none;
  padding:10px
  }

.search-btn{
  background: lightblue;
  border:none;
  padding:10px 20px;

}

.recipes{
  display:flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
